.vertical-align {
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	font-family: sans-serif;
}

.vertical-align h1:first-child {
	color: #747A7E;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.vertical-align a:nth-child(2) {
	color: cornflowerblue;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.vertical-align a:nth-child(3) {
	color: coral;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.vertical-align img:nth-child(4) {
	max-width: 220px;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}