{% extends "base.twig" %}

{% block content %}
    <div class="vertical-align">
        <audio controls autoplay>
          <source src="/assets/audio/set.ogg" type="audio/ogg">
          <source src="/assets/audio/set.mp3" type="audio/mpeg">
          Navegador não conseguiu exibir o áudio. Desculpe.
        </audio>
    </div>
{% endblock %}